body{
    background-color: #dcdddf;
}
.nav-wrapper{
    background-color: #404143;
}
.card-panel{
    padding: 1%;
}
.space{
    margin-top: 50%;
}
.verSal{
    font-size: 19px;
    width: 60%;
    margin-top: 10%;
    margin-bottom: 15%;
}
.menu{
    width: 100%;
    font-size: 19px;
}
header, .pregFrec{
    margin-bottom: 15%;
    padding: 10%;
    font-weight: bold;
}
h6{
    padding: 3%;
    margin: 0%;
}
p{
    margin: 0%;
    padding: 7%;
    font-size: 40px;
}