body{
    background-color: #dcdddf;
}
.nav-wrapper{
    background-color: #404143;
}
.card-panel{
    padding: 1%;
}
.space{
    margin-top: 50%;
}
.verSal{
    font-size: 19px;
    width: 60%;
}
.menu{
    width: 100%;
    font-size: 19px;
}
header, .pregFrec{
    margin-bottom: 15%;
    padding: 10%;
    font-weight: bold;
}